/* Your styles here */

body {
    max-width: 100%;
    margin: auto;
    font-family: "Open Sans", sans-serif;

}

p:not(footer p):not(.background_div2 p) {
    color: rgb(67, 67, 67);
}

/* HEADER */
header {
    background-color: black;
    padding: 10px;
    text-align: start;
    max-width: 100%;
    max-height: 30px;

}

header img {
    max-width: 75px;
}

/* MAIN */

.background_div {
    background-image: url("/assets/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8%;
    text-align: center;
}


main h1 {
    color: #22AACC;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

main a {
    background-color: #FA4F30;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    width: 150px;
}

main h2 {
    color: #22AACC;
    font-weight: 600;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

.banner1 {
    border-radius: 50%;
    max-width: 22%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 35px;
    text-align: start;
}

.container p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.background_div2 {
    background-color: #FA4F30;
    color: white;
    padding: 30px;
    text-align: center;
}

.background_div2 h6 {
    font-size: x-small;
    margin-top: 5px;
}


main h3 {
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
}

.corsivo {
    font-style: italic;
    margin-bottom: 15px;
}

/* CARD */

.div_card {
    padding: 15px;
}

.card_image {
    max-width: 360px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    background-position: center;
}

.card {
    border: thin solid;
    border-color: rgb(191, 191, 191);
    padding-bottom: 25px;
    margin: 20px;
    text-align: center;
    height: 370px;
    max-width: 360px;
}

.card p {
    margin: 15px;
}

main h4 {
    color: #22AACC;
    font-weight: 600;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
}

/* FOOTER */

footer {
    color: white;
    background-color: #22AACC;
    padding: 20px;
    text-align: center;
}


footer h1 {
    font-size: x-large;
    margin-bottom: 15px;
    font-weight: 600;
}

footer h6 {
    font-size: small;
}

footer div {
    display: inline-block;
    text-align: left;
}

footer div a {
    color: white;
    margin-top: 10px;
    display: block;
}

footer a {
    color: white;
}

.mr {
    margin-right: 4px;
}

.mt {
    margin-top: 10px;
}

hr {
    width: 20%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #ccc;
}